<h1>Welcome!</h1>


<section>
	<% if user_signed_in? %>
		<br>
		<!--<h3><b>Site Directory<b></h3>-->
	    <div class="panel-group" id="accordion">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion" href="#work_experiences">
							<h4 class="btn btn-default">Work Experiences</h4>
	                    </a>
	                </h4>
	            </div>
	            <div id="work_experiences" class="panel-collapse collapse">
	                <div class="panel-body">
						<table class="table table-striped table-bordered table-hover" style="width:100%;">
						  <thead>
						    <tr>
						      <!--<th>Owner</th>-->
						      <th>Company Name</th>
						      <th>Start date</th>
						      <th>End date</th>
						      <th>Position</th>
						      <th colspan="2">Actions</th>
						    </tr>
						  </thead>
						
						<tbody id = "experienceList" data-toggle="modal" data-target="#myModal">
						    <% @work_experience.each do |work_experience| %>
						      <tr>
						        <td><%= link_to work_experience.name, work_experience %></td>
						        <td><%= work_experience.start_date %></td>
						        <td><%= work_experience.end_date %></td>
						        <td><%= work_experience.description %></td>
						        <td><%= link_to 'Edit', edit_work_experience_path(work_experience) %>
						          <span class="glyphicon glyphicon-edit"></span>
						        </td>
						        <td><%= link_to 'Destroy', work_experience, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
						          <span class="glyphicon glyphicon-remove"></span>
						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion" href="#honors_and_awards">
							<h4 class="btn btn-default">Honors and Awards</h4>
	                    </a>
	                </h4>
	            </div>
	            <div id="honors_and_awards" class="panel-collapse collapse">
	                <div class="panel-body">
						<table class="table table-striped table-bordered table-hover" style="width:100%;">
						  <thead>
						    <tr>
						      <!--<th>Owner</th>-->
						      <th>Honor date</th>
						      <th>Honor name</th>
						      <th>Honor description</th>
						      <th colspan="2">Actions</th>
						    </tr>
						  </thead>
						
						<tbody id="honorList" data-toggle="modal" data-target="#myModal">
						    <% @honors_and_awards.each do |honors_and_award| %>
						      <tr>
						        <td><%= honors_and_award.honor_date %></td>
						        <td><%= honors_and_award.honor_name %></td>
						        <td><%= honors_and_award.honor_description %></td>
						        <td><%= link_to 'Edit', edit_honors_and_award_path(honors_and_award) %>
									<span class="glyphicon glyphicon-edit"></span>
						        </td>
						        <td><%= link_to 'Destroy', honors_and_award, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
						          <span class="glyphicon glyphicon-remove"></span>
						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion" href="#skills_and_interests">
							<h4 class="btn btn-default">Skills and Interests</h4>
	                    </a>
	                </h4>
	            </div>
	            <div id="skills_and_interests" class="panel-collapse collapse">
	                <div class="panel-body">
						<table class="table table-striped table-bordered table-hover" style="width:100%;">
						  <thead>
						    <tr>
						      <!--<th>Owner</th>-->
						      <th>Skill name</th>
						      <th>Skill description</th>
						      <th colspan="2">Actions</th>
						    </tr>
						  </thead>
						
						<tbody id="skillList" data-toggle="modal" data-target="#myModal">
						    <% @skills_and_interests.each do |skills_and_interest| %>
						      <tr>
						        <td><%= skills_and_interest.skill_name %></td>
						        <td><%= skills_and_interest.skill_description %></td>
						        <td><%= link_to 'Edit', edit_skills_and_interest_path(skills_and_interest) %>
									<span class="glyphicon glyphicon-edit"></span>
						        </td>
						        <td><%= link_to 'Destroy', skills_and_interest, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
						          <span class="glyphicon glyphicon-remove"></span>
						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
	                </div>
	            </div>
	        </div>
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h4 class="panel-title">
	                    <a data-toggle="collapse" data-parent="#accordion" href="#references">
							<h4 class="btn btn-default">References</h4>
	                    </a>
	                </h4>
	            </div>
	            <div id="references" class="panel-collapse collapse">
	                <div class="panel-body">
					<table class="table table-striped table-bordered table-hover" style="width:100%;">
						  <thead>
						    <tr>
						      <!--<th>Owner</th>-->
						      <th>Reference name</th>
						      <th>Reference contact info</th>
						      <th colspan="2">Actions</th>
						    </tr>
						  </thead>
						
						<tbody id="refList" data-toggle="modal" data-target="#myModal">
						    <% @references.each do |reference| %>
						      <tr>
						        <td><%= reference.reference_name %></td>
						        <td><%= reference.reference_contact_info %></td>
						        <td><%= link_to 'Edit', edit_reference_path(reference) %>
									<span class="glyphicon glyphicon-edit"></span>
						        </td>
						        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
						          <span class="glyphicon glyphicon-remove"></span>
						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
	                </div>
	            </div>
	        </div>
	    </div>
	<% end %>
</section>

<span style="position: relative; bottom: 0pt; left: 0pt;">
<a href="http://www.quintonhurstphotography.com">Quinton Hurst Photography</a>
</span>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
    </div>
  </div>
</div>