<p id="notice"><%= notice %></p>

<h1>Skills And Interests</h1>

<table class="table table-striped table-bordered table-hover" style="width:100%;">
  <thead>
    <tr>
      <!--<th>Owner</th>-->
      <th>Skill name</th>
      <th>Skill description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody id="skillList" data-toggle="modal" data-target="#myModal">
    <% @skills_and_interests.each do |skills_and_interest| %>
      <tr>
        <td><%= skills_and_interest.skill_name %></td>
        <td><%= skills_and_interest.skill_description %></td>
        <td><%= link_to 'Edit', edit_skills_and_interest_path(skills_and_interest) %>
          <span class="glyphicon glyphicon-edit"></span>
        </td>
        <td><%= link_to 'Destroy', skills_and_interest, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skills And Interest', new_skills_and_interest_path, class: "btn btn-default" %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
    </div>
  </div>
</div>