<p id="notice"><%= notice %></p>

<h1>Work Experiences</h1>

<table class="table table-striped table-bordered table-hover" style="width:100%;">
  <thead>
    <tr>
      <!--<th>Owner</th>-->
      <th>Company Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Position</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody id = "experienceList" data-toggle="modal" data-target="#myModal">
    <% @work_experiences.each do |work_experience| %>
      <tr>
        <td><%= link_to work_experience.name, work_experience %></td>
        <td><%= work_experience.start_date %></td>
        <td><%= work_experience.end_date %></td>
        <td><%= work_experience.description %></td>
        <td><%= link_to 'Edit', edit_work_experience_path(work_experience) %>
          <span class="glyphicon glyphicon-edit"></span>
        </td>
        <td><%= link_to 'Destroy', work_experience, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Experience', new_work_experience_path, class: "btn btn-default" %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
    </div>
  </div>
</div>