<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @work_experience.owner %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @work_experience.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @work_experience.end_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @work_experience.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_experience.description %>
</p>

<%= link_to 'Edit', edit_work_experience_path(@work_experience) %> |
<%= link_to 'Back', dashboard_index_path %>
