<p id="notice"><%= notice %></p>

<h1>Honors And Awards</h1>

<table class="table table-striped table-bordered table-hover" style="width:100%;">
  <thead>
    <tr>
      <!--<th>Owner</th>-->
      <th>Honor date</th>
      <th>Honor name</th>
      <th>Honor description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody id="honorList" data-toggle="modal" data-target="#myModal">
    <% @honors_and_awards.each do |honors_and_award| %>
      <tr>
        <td><%= honors_and_award.honor_date %></td>
        <td><%= honors_and_award.honor_name %></td>
        <td><%= honors_and_award.honor_description %></td>
        <td><%= link_to 'Edit', edit_honors_and_award_path(honors_and_award) %>
          <span class="glyphicon glyphicon-edit"></span>
        </td>
        <td><%= link_to 'Destroy', honors_and_award, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Honors And Award', new_honors_and_award_path, class: "btn btn-default" %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
    </div>
  </div>
</div>