<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => false %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => false  %>
  </head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<%= link_to root_path, { :class => "navbar-brand"} do %>
								<i class="glyphicon glyphicon-home"></i> Home
							<% end %>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<% if user_signed_in? %>
								<li>
									<%= link_to "Work Experience", { :controller => "/work_experiences", :action => :index , class:"btn btn-primary"} %>
								</li>
								<li>
									<%= link_to "Honors and Awards", { :controller => "/honors_and_awards", :action => :index } %>
								</li>
								<li>
									<%= link_to "Skills and Interests", { :controller => "/skills_and_interests", :action => :index } %>
								</li>
								<li>
									<%= link_to "References", { :controller => "/references", :action => :index } %>
								</li>
								<li>
									<%= link_to "Generate .docx", dashboard_download_path %>
								</li>
								<% end %>
							</ul>



							<!--<form class="navbar-form navbar-left" role="search">-->
							<!--	<div class="form-group">-->
							<!--		<input type="text" class="form-control" />-->
							<!--	</div> -->
							<!--	<button type="submit" class="btn btn-default">-->
							<!--		Submit-->
							<!--	</button>-->
							<!--</form>-->

							<ul class="nav navbar-nav navbar-right" style ="margin-right: 0.25em;">

								<% if user_signed_in? %>
								<li>
									<%= link_to edit_user_registration_path do %>
										<i class="glyphicon glyphicon-user"></i>
									<% end %>
								</li>
								<% end %>

								<% if user_signed_in? %>
									<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
								<% else %>
									<%= link_to "Login", new_user_session_path %>
								<% end %>
								<% yield %>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

				<% if notice %>
						<div class="alert alert-success alert-dismissable">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<p style="margin: 0;" class="notice">
								<strong>
									<%= notice %>
								</strong>
							</p>
						</div>
				<% end %>



			<%= yield %>
			<script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
	</body>
</html>
